# Project exclude paths
/A3 - O Julgamento do Viajante/Código s- IG/untitled/.gradle/
/A3 - O Julgamento do Viajante/Código s- IG/untitled/build/
/A3 - O Julgamento do Viajante/Código s- IG/untitled/build/classes/java/main/